*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(121, 126, 133, 0.637);
    overflow: hidden;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select{
    /* border:2px solid red; */
    height: 750px;
    width: 680px;
    left: 605px;
    top:170px;
    position: absolute;
}
.cap{
    /* border: 2px solid red; */
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ochi{
    /* border: 2px solid red; */
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ochi div{
    width: 550px;
}
.nas{
    /* border: 2px solid red; */
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gura{
    /* border: 2px solid red; */
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cap1{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.cap2{
    height: 80px;
    width: 80px;
    cursor: pointer;
    transform: rotate(180deg);
}
.ochi1{
    height: 80px;
    width: 80px;
    cursor: pointer;
    transform: rotate(180deg);
}
.ochi2{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.nas1{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.nas2{
    height: 80px;
    width: 80px;
    cursor: pointer;
    transform: rotate(180deg);
}
.gura1{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.gura2{
    height: 80px;
    width: 80px;
    cursor: pointer;
    transform: rotate(180deg);
}
.capversion{
    height: 180px;
    width: 450px;
    cursor: pointer;
}
.ochiversion{
    height:180px;
    width: 100%;
    cursor: pointer;
}
.nasversion{
    height: 130px;
    width: 500px;
    cursor: pointer;
}
.guraversion{
    height: 130px;
    width: 430px;
    cursor: pointer;
}